certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
idna==3.10
joblib==1.4.2
nltk==3.9.1
PyAudio==0.2.14
pygame==2.6.1
pypiwin32==223
pyttsx3==2.98
pywin32==308
regex==2024.9.11
requests==2.32.3
SpeechRecognition==3.10.4
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
